body {
    background-image: url(sky.jpeg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Arial', sans-serif;
    color: #003366;
}

.lab4 {
    text-align: center;
    vertical-align: center;
}

#lab1 h2, #lab2 h2, #lab3 h2, #lab4 h2, #lab5 h2, #lab6 h2, #lab7 h2, #lab8 h2{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin: 0 0 30px 0;
    width: 100%;
    height: 80px;
    font-size: 30px; 
}

#lab1 h2 {
    background-color: #ff5722;
    color: #333333;
    font-family: 'Arial', sans-serif;
}

#lab2 h2 {
    background-color: #003366;
    color:  #e0e0e0;
    font-family: 'Arial', sans-serif;
}

#lab3 h2 {
    background-color: rgb(11, 169, 11);
    font-family: 'Arial', sans-serif;
    color: #333333;
}

#lab4 h2 {
    background-color: slateblue;
    font-family: 'Arial', sans-serif;
    color:  #e0e0e0;  
}

#lab5 h2 {
    background-color: firebrick;
    font-family: 'Arial', sans-serif;
    color: #333333;
}
#lab6 h2 {
    background-color: rgb(135, 0, 165);
    font-family: 'Arial', sans-serif;
    color:#e0e0e0; 
}

#lab7 h2 {
    background-color: rgb(255, 230, 0);
    font-family: 'Arial', sans-serif;
    color: #333333;
}

#lab8 h2 {
    background-color: #864c00;
    font-family: 'Arial', sans-serif;
    color:#e0e0e0;
}

#lab1 {
    background-color: #fbe9e7;
}

#lab2 {
    background-color: #d9eaff;
}

#lab3 {
    background-color: rgb(214, 236, 214);
}

#lab4 {
    background-color: rgb(216, 212, 245);
}

#lab5 {
    background-color: rgb(241, 199, 199);
}
#lab6 {
    background-color:rgb(226, 167, 239);
}

#lab7 {
    background-color: #fef0b8;
}

#lab8 {
    background-color: #bd9055;
}

#buttonlab1 {
    background-color: #ff9800;
    border-color: #e68900;
}

#buttonlab2 {
    background-color: #3399ff;
    border-color: #007acc;
}

#buttonlab3 {
    background-color: lightgreen;
    border-color: rgb(63, 216, 63);
}

#buttonlab5 {
    background-color: rgb(241, 100, 100);
    border-color: rgb(208, 13, 13);
}

#buttonlab6 {
    background-color:rgb(217, 99, 244);
    border-color: rgb(182, 84, 204);
}

#buttonlab7 {
    background-color: #fdfd61;
    border-color: #ffff15;
}

#buttonlab8 {
    background-color: #8c6634;
    border-color: #845820;
}

.container {
    display: flex;
    justify-content: space-between;
}

section {
    flex: 1;
    margin: 0 20px 20px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    height: 50px;
    display: inline-block;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none; 
    width: 100%; 
}



