body {
    background-color: #bd9055;
}


.title {
    text-align: center;
    background-color: #864c00;
    color:#e0e0e0;
    margin: 0 0 20px 0;
    padding-top: 20px;
    padding-bottom: 20px;
}


h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5em; 
    font-weight: bold;
    color: rgb(112, 68, 25);
}

.button {
    padding: 10px;
    background-color: rgb(226, 197, 169);
    font-weight: bold;
    font-size: 15px;
    color: rgb(155, 102, 16);
    border-color: #6e471a;
    margin-left: 10px;
}

svg {
    background-color: #fff;
    padding: 20px 20px 20px 0;
}
.area {
    fill: slategrey;
    stroke: slategrey;
    stroke-width: 0.5;
}



footer {
    margin-top: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: lightgrey;
}